@font-face {
  font-family: "Zangezi-Sans";
  src: url("fonts/ZangeziSans04.woff") format('woff');
}

@font-face {
  font-family: 'archiaregular';
  src: url('fonts/archia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#wave-container {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #da9c53;;
}

#wave {
  display: block;
  position: relative;
  height: 40px;
  background: #da9c53;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #b43b2b;
  right: -25%;
  top: 20px
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #da9c53;;
  left: -25%;
  top: -240px;
}

.landing-main {
  background: #da9c53;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

nav {
  height: 80px;
  position: relative;
  z-index: 5;
  /* left: 40%; */
  display: flex;
  transform: rotate(10.5deg) skew(-18deg); 
  top: 20%;
  justify-content: center;
}

.nav-link {
  font-family: 'archiaregular';
  font-size: 18pt;
  color: #d8b9b4;
  margin: 20px 30px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration-line: underline;
}

.main {
  width: 75%;
  height: 95vh;
  background-color: #276365;
  position: relative;
  z-index: 1;
  transform: rotate(-10deg) skew(20deg); 
  top: -20%;
  left: 100px;
  margin: 0;
  padding: 0;
}

.name-container {
  width: 55%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding-right: 60px;
}

.name {
  font-family: "Zangezi-Sans";
  font-size: 120pt;
}

#last {
  align-self: flex-end;
}

.description {
  font-family: "Zangezi-Sans";
  font-size: 24pt;
  margin-left: 190px;
  margin-bottom: 100px;
}

.computer {
  position: relative;
  z-index: 8;
  max-height: 200px;
  left: -16%;
  top: 300px;
  margin: 0;
  padding: 0;
  transform: rotate(10.5deg) skew(-18deg); 
}

.mobile{
  position: relative;
  z-index: 6;
  width: 220px;
  left: -14%;
  top: 220px;
  margin: 0;
  padding: 0;
  transform: rotate(10.5deg) skew(-18deg); 
}

h3 {
  font-family: 'archiaregular';
  font-size: 24pt;
  text-decoration-line: underline;
  color:white;
  margin-top: 80px;
}

.projects-container {
  background-color: #b43b2b;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
}


.project {
  width: 400px;
  margin: 30px;
}

.project-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 30px;
}

.project-text {
  font-family: 'archiaregular';
  font-size: 14pt;
  color: #f5ea5c;
}

.project-text-link {
  font-family: 'archiaregular';
  font-size: 16pt;
  color: white;
  margin: 15px;
}

.row1,
.row2 {
  display: flex;
}