@font-face {
  font-family: "Zangezi-Sans";
  src: url("fonts/ZangeziSans04.woff") format('woff');
}

html {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#wave-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #efb2ad;
}

#wave {
  display: block;
  position: relative;
  height: 40px;
  background: #d15c46;
}

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #efb2ad;
  right: -25%;
  top: 20px
}

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #d15c46;
  left: -25%;
  top: -240px;
}

.landing-container {
  background-color: #efb2ad;
  height: 100vh;
  display: flex;
}

.name-container {
  width: 50%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.name {
  font-family: "Zangezi-Sans";
  font-size: 120pt;
}

#last {
  align-self: flex-end;
}
